.brand{
    font-size: 30px;
    font-weight: bold;
    color: #000;
    padding: 0 30px;
}
.link{
    color: #000;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    
}

.badg {
   font-size: 20px;
   color: rgba(251, 120, 13, 0.956);
}